<%= form_with url: import_sellers_path, id: 'import_form' do |form| %>
  <div class="modal-body">
    <div id="file_missing_alert" class="alert alert-danger" role="alert" style="display: none;"><%= t('sellers.file_missing') %></div>
    <div class="form-group row">
      <div class="col-md-9">
        <%= form.file_field 'file' %>
      </div>
    </div>
    <% (1..8).each do |i| %>
      <div class="form-group row">
        <%= form.label t("sellers.import_columns.column#{i}"), class: 'col-md-3 col-form-label' %>
        <div class="col-md-9">
          <%= form.select "column_#{i}", seller_columns_data_for_select, { selected: i - 1 }, {class: 'form-control import_column'} %>
        </div>
      </div>
    <% end  %>
    <div class="form-group row">
      <%= form.label t("sellers.skip_first_row"), class: 'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <label class="switch switch-primary">
          <%= form.check_box 'skip_first_row', class: 'switch-input' %>
          <span class="switch-slider"></span>
        </label>    
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= form.submit t('import'), class: 'btn btn-primary' %>
  </div>
<% end %>
<script>
  $(function() {
    $('.import_column').focus(function() {
      $(this).data('previous', $(this).val());
    });

    $('.import_column').change(function() {
      var currentValue = $(this).val();
      var previousValue = $(this).data('previous');

      $(`.import_column > option:selected[value="${currentValue}"]`).parent().val(previousValue);
      $(this).val(currentValue);
    });

    $('#import_form').submit(function() {
      if (!$('#file').val()) {
        $('#file_missing_alert').slideDown();
        return false
      }
    });
  });
</script>