<div class="modal fade" id="import_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= t('sellers.import_sellers') %></h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="alert alert-primary" role="alert"><%= raw t('sellers.import_info') %></div>
      <div id="modal_form">
        <%= render 'sellers/modals/form' %>
      </div>
    </div>
  </div>
</div>