<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0"><%= t('invoices.name') %></h4>
            <div class="small text-muted"><%= t('invoices.manage_info') %></div>
          </div>
          <div class="col-sm-7 d-none d-md-block">
            <%= link_to raw(%Q(<i class="icon-plus"></i> #{t('invoices.new')})), new_invoice_path, class: "btn btn-success float-right", remote: true %>
          </div>
        </div>
        <div style="margin-top:30px;">
          <div id="list_content"><%= render 'invoices/partials/invoices' %></div>
        </div>
      </div>
      <% unless @invoices.blank? || @invoices.total_pages == 1 %>
        <div class="card-footer">
          <div id="pagination"><%= render 'invoices/partials/pagination' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>