if ($('#form_content').html().length && $('#form_content').is(":visible")) {
  $('#form_content').slideUp(function() {
    $(this).html('<%= j render('invoices/partials/new') %>').slideDown();
  })
} else {
  $('#form_content').hide().html('<%= j render('invoices/partials/new') %>').slideDown();
}