<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0"><%= t('invoices.invoice') %></h4>
            <div class="small text-muted"><%= t('invoices.show_manage_info') %></div>
          </div>
        </div>
        <div style="margin-top:30px;">
          <div class="row">
            <div class="col-sm-12 col-md-12" id="invoice_content">
              <%= render 'invoices/partials/invoice/invoice' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>