<%= form_with model: @invoice_element do |form| %>
  <%= form.hidden_field :invoice_id, value: @invoice.id %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="center">#</th>
        <th><%= t('invoice_elements.item') %></th>
        <th><%= t('invoice_elements.description') %></th>
        <th class="right"><%= t('invoice_elements.unit_cost') %></th>
        <th class="center"><%= t('invoice_elements.quantity') %></th>
        <th class="right"><%= t('invoice_elements.total') %></th>
        <% if @invoice.status.zero? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @last_index = 0 %>
      <% @invoice.invoice_elements.each_with_index do |invoice_element, index| %>
        <% @last_index = index + 1 %>
        <tr>
          <td class="center"><%= @last_index %></td>
          <td class="left strong"><%= invoice_element.item_name %></td>
          <td class="left"><%= invoice_element.description %></td>
          <td class="right"><%= number_to_currency invoice_element.price, unit: "£" %></td>
          <td class="center"><%= invoice_element.quantity %></td>
          <td class="right"><%= number_to_currency invoice_element.cost, unit: "£" %></td>
          <% if @invoice.status.zero? %>
            <td>
              <%= link_to raw(%Q(<i class="fa fa-trash"></i> #{t('delete')})), invoice_element_path(invoice_element), class: "btn btn-outline-danger btn-sm", method: :delete, remote: true, data: {confirm: t('confirm')} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <% if @invoice.status.zero? %>
      <tfoot>
        <%= render 'invoice_elements/partials/new', form: form %>
      </tfoot>
    <% end %>
  </table>
<% end %>