<tr>
  <td><%= @last_index + 1 %></td>
  <td><%= form.text_field :item_name, class: 'form-control', placeholder: t('invoice_elements.item') %></td>
  <td><%= form.text_field :description, class: 'form-control', placeholder: t('invoice_elements.description') %></td>
  <td><%= form.text_field :price, class: 'form-control', placeholder: t('invoice_elements.unit_cost') %></td>
  <td><%= form.number_field :quantity, class: 'form-control', placeholder: t('invoice_elements.quantity'), min: 1, max: 9999999 %></td>
  <td><%= form.submit t('submit'), class: 'btn btn-primary' %></td>
  <% if @invoice.status.zero? %>
    <td></td>
  <% end %>
</tr>