<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5">
            <h4 class="card-title mb-0"><%= t('clients.name') %></h4>
            <div class="small text-muted"><%= t('clients.manage_info') %></div>
          </div>
          <div class="col-sm-7 d-none d-md-block">
            <%= link_to raw(%Q(<i class="icon-plus"></i> #{t('clients.new')})), new_client_path, class: "btn btn-success float-right", remote: true %>
            <button class="btn btn-primary float-right mr-2" type="button" data-toggle="modal" data-target="#import_modal">
              <i class="icon-layers"></i> <%= t('clients.import') %>
            </button>
          </div>
        </div>
        <div style="margin-top:30px;">
          <div id="list_content"><%= render 'clients/partials/clients' %></div>
        </div>
      </div>
      <% unless @clients.blank? || @clients.total_pages == 1 %>
        <div class="card-footer">
          <div id="pagination"><%= render 'clients/partials/pagination' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'clients/modals/import' %>