<div id="form_content"></div>
<% unless @invoices.blank? %>
  <table class="table table-responsive-sm table-bordered">
    <thead>
      <tr>
        <th><%= t('invoices.invoice_number') %></th>
        <th><%= t('invoices.seller') %></th>
        <th><%= t('invoices.buyer') %></th>
        <th><%= t('invoices.net') %></th>
        <th><%= t('invoices.tax') %></th>
        <th><%= t('invoices.gross') %></th>
        <th style="width: 150px;"><%= t('invoices.status') %> <small>(<%= t('invoices.click_to_change') %>)</small></th>
        <th style="width: 160px;"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice.invoice_number, invoice %></td>
          <td><%= invoice.seller.company_name %></td>
          <td><%= invoice.client.company_name %></td>
          <td><%= number_to_currency invoice.net, unit: "£" %></td>
          <td><%= number_to_currency invoice.tax, unit: "£" %></td>
          <td><%= number_to_currency invoice.gross, unit: "£" %></td>
          <td class="text-center">
            <%= link_to t('invoices.statuses')[invoice.status], change_status_invoices_path(id: invoice.id), class: "badge #{invoice_status_icon(invoice)}", remote: true %>
          </td>
          <td>
            <% if !invoice.status.zero? %>
              <%= link_to raw(%Q(<i class="fa fa-file"></i> #{t('invoices.pdf')})), invoice_path(invoice, format: 'pdf'), class: "btn btn-outline-info btn-sm", target: '_blank' %>
            <% end %>
            <%= link_to raw(%Q(<i class="fa fa-trash"></i> #{t('delete')})), invoice_path(invoice), class: "btn btn-outline-danger btn-sm", method: :delete, remote: true, data: {confirm: t('confirm')} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-primary" role="alert"><%= t('invoices.empty', button_text: t('invoices.new')) %></div>
<% end %>