<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong><%= t('invoices.new') %></strong>
      </div>
      <%= error_messages_for(@invoice) %>
      <%= form_with model: @invoice, local: true do |form| %>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <%= form.label :seller %>
              <%= form.collection_select :seller_id, sellers_ordered_by_company_name, :id, :company_name, {}, {class: 'form-control'} %>
            </div>
            <div class="form-group col-sm-6">
              <%= form.label :client %>
              <%= form.collection_select :client_id, clients_ordered_by_company_name, :id, :company_name, {}, {class: 'form-control'} %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= form.submit t('submit'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>