<div class="card">
  <div class="card-header">
    <%= t('invoices.invoice') %>
    <strong><%= @invoice.invoice_number %></strong>
    <span class="float-right"> <strong>Status:</strong> <%= t('invoices.statuses')[@invoice.status] %></span>
  </div>
  <div class="card-body">
    <%= error_messages_for(@invoice_element) %>
    <div style="width: 100%;">
      <div style="width: 50%; float: left; margin-bottom: 40px;">
        <h6 class="mb-3"><%= t('sellers.seller') %>:</h6>
        <div>
          <strong><%= @invoice.seller.company_name %></strong>
        </div>
        <div><%= @invoice.seller.address_1 %> <%= @invoice.seller.address_2 %></div>
        <div><%= @invoice.seller.post_code %> <%= @invoice.seller.city %>, <%= @invoice.seller.country %></div>
        <div><%= t('invoices.vat') %>: <%= @invoice.seller.vat_number %></div>
      </div>
      <div style="width: 50%; float: left">
        <h6 class="mb-3"><%= t('invoices.buyer') %>:</h6>
        <div>
          <strong><%= @invoice.client.company_name %></strong>
        </div>
        <div><%= @invoice.client.address_1 %> <%= @invoice.client.address_2 %></div>
        <div><%= @invoice.client.post_code %> <%= @invoice.client.city %>, <%= @invoice.client.country %></div>
        <div><%= t('invoices.vat') %>: <%= @invoice.client.vat_number %></div>
      </div>
    </div>
    <div class="table-responsive-sm" id="invoice_elements">
      <%= render 'invoice_elements/partials/invoice_elements' %>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-5"></div>
      <div class="col-lg-4 col-sm-5 ml-auto" id="invoice_summary">
        <%= render 'invoices/partials/invoice/summary' %>
      </div>
    </div>
  </div>
</div>