<table class="table table-clear">
  <tbody>
    <tr>
      <td class="left">
        <strong><%= t('invoices.net') %></strong>
      </td>
      <td class="right"><%= number_to_currency @invoice.net, unit: "£" %></td>
    </tr>
    <tr>
      <td class="left">
        <strong><%= t('invoices.vat_p', vat: Invoice::VAT) %></strong>
      </td>
      <td class="right"><%= number_to_currency @invoice.tax, unit: "£" %></td>
    </tr>
    <tr>
      <td class="left">
        <strong><%= t('invoices.gross') %></strong>
      </td>
      <td class="right">
        <strong><%= number_to_currency @invoice.gross, unit: "£" %></strong>
      </td>
    </tr>
  </tbody>
</table>