<h1><%= t('login.login') %></h1>
<p class="text-muted">
  <%= notice %>
  <%= alert.blank? ? raw('&nbsp;') : alert %>
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="icon-user"></i>
      </span>
    </div>
    <%= f.email_field :email, autofocus: true, placeholder: t('login.email'), class: 'form-control', value: 'test@test.com' %>
  </div>

  <div class="input-group mb-4">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="icon-lock"></i>
      </span>
    </div>
    <%= f.password_field :password, placeholder: t('login.password'), class: 'form-control', value: 'test' %>
  </div>

  <div class="row">
    <div class="col-6">
      <%= f.submit t('login.login'), class: 'btn btn-primary px-4' %>
    </div>
  </div>
<% end %>