<%= error_messages_for(@seller) %>

<%= form_with model: @seller do |form| %>
  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-10">
        <%= form.label :company_name %>
        <%= form.text_field :company_name, class: 'form-control', placeholder: t('sellers.placeholders.company_name') %>
      </div>
      <div class="form-group col-sm-2">
        <%= form.label :prefix %>
        <%= form.text_field :prefix, class: 'form-control', placeholder: t('sellers.placeholders.prefix') %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <%= form.label :country %>
        <%= form.text_field :country, class: 'form-control', placeholder: t('sellers.placeholders.country') %>
      </div>
      <div class="form-group col-sm-4">
        <%= form.label :vat_number %>
        <%= form.text_field :vat_number, class: 'form-control', placeholder: t('sellers.placeholders.vat_number') %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <%= form.label :city %>
        <%= form.text_field :city, class: 'form-control', placeholder: t('sellers.placeholders.city') %>
      </div>
      <div class="form-group col-sm-4">
        <%= form.label :post_code %>
        <%= form.text_field :post_code, class: 'form-control', placeholder: t('sellers.placeholders.post_code') %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :address_1 %>
      <%= form.text_field :address_1, class: 'form-control', placeholder: t('sellers.placeholders.address_1') %>
    </div>
    <div class="form-group">
      <%= form.label :address_2 %>
      <%= form.text_field :address_2, class: 'form-control', placeholder: t('sellers.placeholders.address_2') %>
    </div>
  </div>
  <div class="card-footer">
    <%= form.submit t('submit'), class: 'btn btn-primary' %>
  </div>
<% end %>