<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong><%= t('sellers.new') %></strong>
      </div>
      <%= render 'sellers/partials/form' %>
    </div>
  </div>
</div>