<div id="form_content"></div>
<% unless @sellers.blank? %>
  <table class="table table-responsive-sm table-bordered">
    <thead>
      <tr>
        <th><%= Seller.human_attribute_name :company_name %></th>
        <th><%= t('sellers.address') %></th>
        <th><%= Seller.human_attribute_name :vat_number %></th>
        <th><%= Seller.human_attribute_name :prefix %></th>
        <th style="width: 180px;"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @sellers.each do |seller| %>
        <tr>
          <td><%= seller.company_name %></td>
          <td><%= seller.full_address %></td>
          <td><%= seller.vat_number %></td>
          <td><%= seller.prefix %></td>
          <td>
            <%= link_to raw(%Q(<i class="fa fa-pencil"></i> #{t('edit')})), edit_seller_path(seller), class: "btn btn-outline-info btn-sm", remote: true %>
            <%= link_to raw(%Q(<i class="fa fa-trash"></i> #{t('delete')})), seller_path(seller), class: "btn btn-outline-danger btn-sm", method: :delete, remote: true, data: {confirm: t('confirm')} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-primary" role="alert"><%= t('sellers.empty', button_text: t('sellers.new')) %></div>
<% end %>