<div id="form_content"></div>
<% unless @clients.blank? %>
  <table class="table table-responsive-sm table-bordered">
    <thead>
      <tr>
        <th><%= Client.human_attribute_name :company_name %></th>
        <th><%= t('clients.address') %></th>
        <th><%= Client.human_attribute_name :vat_number %></th>
        <th style="width: 180px;"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.company_name %></td>
          <td><%= client.full_address %></td>
          <td><%= client.vat_number %></td>
          <td>
            <%= link_to raw(%Q(<i class="fa fa-pencil"></i> #{t('edit')})), edit_client_path(client), class: "btn btn-outline-info btn-sm", remote: true %>
            <%= link_to raw(%Q(<i class="fa fa-trash"></i> #{t('delete')})), client_path(client), class: "btn btn-outline-danger btn-sm", method: :delete, remote: true, data: {confirm: t('confirm')} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-primary" role="alert"><%= t('clients.empty', button_text: t('clients.new')) %></div>
<% end %>