<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.8
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ruby On Rails Demo Application">
    <meta name="author" content="Rafał Dunajski">
    <title>Ruby On Rails Demo Application</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', 'coreui-icons.min', 'font-awesome.min', 'simple-line-icons', 'style.min', 'toastr.min', media: 'all' %>
    <%= javascript_include_tag 'application', 'jquery.min' %>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="navbar-brand-full" src="/assets/logo.png" width="128" height="55" alt="Facturra">
        <img class="navbar-brand-minimized" src="/assets/sygnet.png" width="30" height="30" alt="Facturra">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav ml-auto"></ul>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-title"><%= t('navigation.bookkeeping') %></li>
            <%= raw render_navigation_menu %>
            <li class="nav-title"><%= t('navigation.account') %></li>
            <li class="nav-item">
              <%= link_to(content_tag(:i, '', class: 'nav-icon icon-logout text-danger') + " #{t('navigation.logout')}", destroy_user_session_path, class: 'nav-link') %>
            </li>
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <ol class="breadcrumb">
          <%= raw render_breadcrumbs %>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <footer class="app-footer">
      <div>
        Dunajski Rafał
        <span>&copy; 2018</span>
      </div>
      <div class="ml-auto">
        <span>Powered by</span>
        <a href="https://coreui.io">CoreUI</a>
      </div>
    </footer>
    <%= javascript_include_tag 'bootstrap.min', 'perfect-scrollbar.min', 'coreui.min', 'toastr.min' %>
  </body>
</html>
