<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.8
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ruby On Rails Demo Application">
    <meta name="author" content="Rafał Dunajski">
    <title>Ruby On Rails Demo Application</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'coreui-icons.min', 'font-awesome.min', 'simple-line-icons', 'style.min', media: 'all' %>
    <%= javascript_include_tag 'application', 'jquery.min' %>
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <%= yield %>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2><%= t('login.title') %></h2>
                  <p><%= raw t('login.info') %></p>
                  <a href="https://bitbucket.org/doonay21/ror_demo_app" target="_blank"><button class="btn btn-primary active mt-3" type="button"><%= t('login.get_source') %></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'perfect-scrollbar.min', 'coreui.min' %>
  </body>
</html>
