<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.1.8
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ruby On Rails Demo Application">
    <meta name="author" content="Rafał Dunajski">
    <title>Ruby On Rails Demo Application</title>
    <%= wicked_pdf_stylesheet_link_tag "application", 'style.min' -%>
    <%= wicked_pdf_javascript_include_tag "application", 'bootstrap.min', 'coreui.min' %>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <%= yield %>
  </body>
</html>
